<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    <div class="container">
        <div class="my-product">
            <h1>Product Form</h1>
            <form action="/cart/product" method="post">
                <input type="text" name="img" id="img" placeholder="Product Image">
                <input type="text" name="title" id="title" placeholder="Title">
                <input type="number" name="price" id="price" placeholder="Price">
                <select name="category" id="">
                    <option value="bags">Bags</option>
                    <option value="goods">Leather Goods</option>
                    <option value="minigoods">Mini Leather Goods</option>
                    <option value="phone">Phone Cases</option>
                </select>
                <button type="submit">Add Product</button>
            </form>
        </div>
    </div>
    <!-- footer section  -->
    <%- include("footer") %>
</body>
</html>