<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="padding100">
        <div class="container">
            <div class="row">
                <div class="w-25">
                    <div class="logo">
                        <a href="/user/home">
                            <img src="/image/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="w-25">
                    <div class="footer-content">
                        <ul>
                            <li><a href="/cart/">Shop All</a></li>
                            <li><a href="/cart/product">My Product</a></li>
                            <li><a href="/cart/mycart">Cart</a></li>
                            <li><a href="/user/signup">Signup</a></li>
                            <li><a href="/user/login">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-25">
                    <div class="footer-content">
                        <ul>
                            <li><a href="https://www.facebook.com/">Facebook</a></li>
                            <li><a href="https://www.instagram.com/">Instagram</a></li>
                            <li><a href="https://twitter.com/">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-25">
                    <div class="send-email">
                        <h1>JOIN US!</h1>
                        <input type="email" name="email" placeholder="Email*">
                        <a href="#">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>