<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="padding100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="logo">
                        <a href="/user/home">adalene.</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <ul>
                            <li><a href="/cart/">Shop All</a></li>
                            <li><a href="#">GIFTCARD</a></li>
                            <li><a href="/cart/mycart">Cart</a></li>
                            <li><a href="/cart/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="send-email">
                        <h1>JOIN US!</h1>
                        <input type="email" name="email" placeholder="Email*">
                        <a href="#">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>