<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include("navbar") %>
        <section class="home">
            <div class="home-img">
                <div class="overlay"></div>
                <img src="/image/ea71bb_f6afb11f2c8f406ca1c8993c2eca99e7~mv2_d_11495_6131_s_4_2.jpg" alt="">
                <div class="home-btn">
                    <h1>CUE THE COLOR</h1>
                    <a href="/cart/">Shop the collection</a>
                </div>
            </div>
        </section>

        <!-- bag product section  -->
        <section class="padding100">
            <div class="container">
                <div class="section-title">
                    <h2>BAGS</h2>
                    <div class="title-line"></div>
                </div>
                <div class="row bags">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="slider-img">
                            <img src="/image/bag_1.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$400.00</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="slider-img">
                            <img src="/image/bag_2.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$150.00</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="slider-img">
                            <img src="/image/bag_3.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$300.00</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="slider-img">
                            <img src="/image/bag_4.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$250.00</h2>
                        </div>
                    </div>
                </div>
                <div class="all-shopping">
                    <a href="#">Shop All Bags</a>
                </div>
            </div>
        </section>

        <!-- leather belts section  -->
        <section>
            <div class="container">
                <div class="section-title">
                    <h2>LEATHER BELTS</h2>
                    <div class="title-line"></div>
                </div>
                <div class="bags row">
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <div class="image-1">
                            <div class="belt-img-1">
                                <img src="/image/belt_1.jpg" alt="">
                                <a href="#"><u>LEATHER BELTS</u></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <div class="image-belt-2">
                            <img src="/image/belt_2.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$ 50.00</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Mini Leather Goods section  -->
        <section class="padding100">
            <div class="container">
                <div class="section-title">
                    <h2>MINI LEATHER GOODS</h2>
                    <div class="title-line"></div>
                </div>
                <div class="bags row">
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <div class="image-2">
                            <img src="/image/mini_lather_goods_2.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$ 50.00</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <div class="image-1">
                            <div class="belt-img-1">
                                <img src="/image/mini_lather_goods_1.jpg" alt="">
                                <a href="#"><u>LEATHER BELTS</u></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- phone cases section  -->
        <section class="phone">
            <div class="container">
                <div class="section-title">
                    <h2>PHONE CASES</h2>
                    <div class="title-line"></div>
                </div>
                <div class="bags row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="slider-img">
                            <img src="/image/phone_cases_1.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$400.00</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="slider-img">
                            <img src="/image/phone_cases_2.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$150.00</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="slider-img">
                            <img src="/image/phone_cases_3.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$300.00</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="slider-img">
                            <img src="/image/phone_cases_4.jpg" alt="">
                            <h3>I'm a product</h3>
                            <h2>$250.00</h2>
                        </div>
                    </div>
                </div>
                <div class="all-shopping">
                    <a href="#">Shop All Bags</a>
                </div>
            </div>
        </section>

        <!-- footer section  -->
        <%- include("footer") %>
</body>

</html>