<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include("navbar") %>
        <section class="home">
            <div class="home-img">
                <div class="overlay"></div>
                <img src="/image/home.jpg" alt="">
                <div class="home-btn">
                    <h1>WELCOME TO MY WEBSITE</h1>
                    <a href="/cart/">Shop the collection</a>
                </div>
            </div>
        </section>

        <!-- bag product section  -->
        <section class="padding100">
            <div class="container">
                <div class="section-title">
                    <h2>ALL PRODUCTS</h2>
                    <div class="title-line"></div>
                </div>
                <div class="row bags">
                    <div class="w-25">
                        <div class="slider-img">
                            <img src="/image/bag.jpg" alt="">
                            <h3>Bags</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="slider-img">
                            <img src="/image/belt.jpg" alt="">
                            <h3>Leather Goods</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="slider-img">
                            <img src="/image/mini_lather_goods.jpg" alt="">
                            <h3>Mini Leather Goods</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="slider-img">
                            <img src="/image/phone_cases.jpg" alt="">
                            <h3>Phone Cases</h3>
                        </div>
                    </div>
                </div>
                <div class="all-shopping">
                    <a href="/cart/">Shop All</a>
                </div>
            </div>
        </section>

        <!-- footer section  -->
        <%- include("footer") %>
</body>

</html>