<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    <div class="userform">
        <div class="container">
            <h1>Logn In</h1>
            <form action="/user/login" method="post">
                <input type="email" name="email" id="email" placeholder="email">
                <input type="text" name="password" id="password" placeholder="password">
                <h3><a href="/user/resetpassword">Reset Password</a></h3>
                <p>Don't have an account? <a href="/user/signup"><u>Signup</u></a></p>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <!-- footer section  -->
    <%- include("footer") %>
</body>
</html>