<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mycart</title>
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>

    <section>
        <div class="container">
            <div class="mycart">
                <div id="box"></div>
            </div>
        </div>
    </section>

    <!-- footer section  -->
    <%- include("footer") %>
</body>
<script src="/js/cartdetails.js"></script>
</html>