<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mycart</title>
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>

    <section>
        <div class="container">
            <div class="row">
                <div class="mycart">
                    <h1>My Cart</h1>
                    <div id="box"></div>
                </div>
                <div class="payment-price">
                    <h1>Order Summary</h1>
                    <div id="box2"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section  -->
    <%- include("footer") %>
</body>
<script src="/js/mycart.js"></script>
</html>