<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content align-item-center">
                <div class="logo">
                    <a href="/user/home">
                        <img src="/image/logo.png" alt="">
                    </a>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="/user/home">HOME</a></li>
                        <li><a href="/cart/">SHOP</a></li>
                        <li><a href="/cart/product">MY PRODUCT</a></li>
                        <li><a href="/user/signup">SIGNUP</a></li>
                        <li><a href="/user/login">LOGIN</a></li>
                        <li><a href="/user/logout">LOGOUT</a></li>
                    </ul>
                </nav>
                <div class="nav-icon">
                    <ol class="row">
                        <li><a href="/cart/mycart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
</body>

</html>